Assingment 1.1: WAP to print your name three times

In [1]:
print("Himanshi Bansal")
print("Himanshi Bansal")
print("Himanshi Bansal")

Himanshi Bansal
Himanshi Bansal
Himanshi Bansal

Assignent 2.1 : WAP to add three numbers and print the result.

In [ ]:
a = 60
b = 20
c = 100
sum = a + b + c
print(a, "+" ,b, "+" ,c, "-->" ,sum)

60 + 20 + 100 --> 180

Assignment 2.2 : WAP to concatinate three strings and print the result.

In [ ]:
str1 = "AI"
str2 = "for"
str3 = "Engineers"
result = str1 + " "+ str2 + " "+ str3
print("Concatinated string:",result)

Concatinated string: AI for Engineers

Assignment 4.1 : WAP to print the table of 7,9.

In [ ]:
print("Table of 7 : ")
for i in range(1,11):
    print(7," * ",i," = ",i * 7)
print("\nTable of 9 :")
for i in range(1,11):
    print(9," * ",i," = ",i*9)

Table of 7 :
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

Table of 9 :
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

Assignment 4.2 : WAP to print the table of n and n is given by user.

In [ ]:
n = int(input("Enter a number :"))
for i in range(1,11) :
  print(n, " * ",i, " = ",i*n)

Enter a number :10
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n = int(input("Enter a number : "))
s=0
for i in range(1,n+1):
    s=s+i
print("Sum is --> ",s)

Enter a number : 10
Sum is -->  55

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
c = int(input("Enter third number : "))
maximum = max(a,b,c)
print("The maximum number is :",maximum)

Enter first number : 35
Enter second number : 20
Enter third number : 40
The maximum number is : 40

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
n= int(input("Enter the value of n : "))
s=0
for i in range(1,n+1):
  if i % 7 == 0 and i % 9 ==0 :
    s = s + i
print("Sum of numbers divisible by 7 and 9 from 1 to",n, "is:",s)

Enter the value of n : 200
Sum of numbers divisible by 7 and 9 from 1 to 200 is: 378

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n = int(input("Enter a no:"))
s=0
for num in range(2,n+1):
  count = 0
  for i in range(1,num+1):
    if num % i == 0:
      count = count + 1
  if count == 2:
    s = s + num
print("Sum of prime numbers from 1 to",n,"is:",s)

Enter a no:10
Sum of prime numbers from 1 to 10 is: 17

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
def sum_of_odds(n):
  s=0
  for i in range(1,n+1):
    if i%2 != 0 :
      s = s+i
  return s
n = int(input("Enter a no:"))
print("Sum of odd numbers from 1 to",n,"is:",sum_of_odds(n))

Enter a no:10
Sum of odd numbers from 1 to 10 is: 25

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
def sum_of_primes(n):
    s=0
    for num in range(2,n+1):
       count = 0
       for i in range(1,num+1):
           if num % i == 0:
              count = count + 1
       if count == 2:
               s = s + num
    return s
n = int(input("Enter the value of n: "))
print("Sum of prime numbers from 1 to",n," is ",sum_of_primes(n))

Enter the value of n: 10
Sum of prime numbers from 1 to 10  is  17